{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="https://files.evemu.dev/evemu-server/" >Download</a> 
    <a class="button outline big" href="https://github.com/EvEmu-Project/evemu_Crucible" >View on Github</a>
    <p>Latest pre-compiled build from CI</p>
  </div>
  <div class="message focus" data-component="message"> <span class="close small"></span>

  <a class="button inverted small " href="https://discord.gg/fTfAREYxbz" >Discord</a> 
  Join the community! EVEmu has an active Discord group where project status, issues and more is discussed.
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <h4>Join Us!</h4>
        <p>If you like EVE Online and you are a C++ developer, we need you! We are always in need of good, seasoned C++ developers for the Main Server Emulator software.</p>
      </div>
      <div class="col col-4 item">
        <h4>Development Team</h4>
        <p>The server emulator has been in development by a core handful of people who appear now and then for over 15 years. </p>
      </div>
      <div class="col col-4 item">
        <h4>License</h4>
        <p>EVEmu is absolutely free and is licensed under GPLv3.</p>
    </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
